* {
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: hsl(252, 100%, 98%);
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
    width: 700px;
    margin: 100px auto;
}

.card {
    width: 50%;
    border-radius: 20px;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.circle-result {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(hsl(252, 100%, 50%), hsla(241, 72%, 46%, 0));
}

.your-result {
    font-weight: 500;
    font-size: 1.4rem;
    color: rgb(205, 203, 203);
    ;
    margin: 35px auto 25px auto;
}

.result-value {
    padding-top: 20%;
    color: white;
    font-size: 4rem;
    font-weight: 800;
}

.outof {
    color: rgb(196, 193, 193);
}

span {
    color: rgb(110, 109, 109);
}

strong {
    color: black;
}

.reaction {
    padding-top: 15px;
    color: white;
    font-weight: 700;
    font-size: 1.8rem;
}

.details {
    color: rgb(205, 203, 203);
    padding: 20px 18%;
    margin-bottom: 20px;
}

.continue {
    margin: 0 40px 0 0;
    text-align: center;
    border-radius: 25px;
    font-size: 1.1rem;
    color: white;
    width: 80%;
    height: 50px;
    margin-top: 5px;
    background-color: black;
}

.continue:hover {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.summary {
    width: 45%;
    justify-content: left;
    margin-left: 5%;
    margin-top: 35px;
}

.summary-text {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 700;
}

.table {
    margin-right: 40px;
}

.row {
    display: flex;
    margin: 20px 0 20px 0;
    border-radius: 10px;
}

.text-react {
    color: hsl(0, 100%, 67%);
}

.text-memory {
    color: hsl(39, 100%, 56%);
}

.text-verbal {
    color: hsl(166, 100%, 37%);
}

.text-visual {
    color: hsl(234, 85%, 45%);
}

.background-react {
    background-color: hsl(0, 100%, 98%);
}

.background-memory {
    background-color: hsl(39, 100%, 98%);
}

.background-verbal {
    background-color: hsl(166, 100%, 98%);
}

.background-visual {
    background-color: hsl(234, 85%, 98%);
}

.first {
    margin: 15px 15px;
}

.second {
    margin: auto 0;
}

.third {
    display: flex;
    margin: auto 20px auto auto;
}

@media screen and (max-width: 375px) {
    .container {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        width: 375px;
        margin: auto auto;
    }

    .summary {
        width: 100%;
    }

    .card {
        width: 100%;
    }
}
